{% extends 'base.html' %}

{% block head %}
<title>Prediksi Diabetes</title>
{% endblock %}

{% block body %}
<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/" method="GET">
            <h5 class="fw-bold text-center">
                Ryan Septian Gandi (41155050210041)
            </h5>
            <br>
            {% if finalData == 1 %}
            <span class="contact100-form-title">
                POSITIF DIABETES
            </span>

            {% else %}
            <span class="contact100-form-title">
                NEGATIF DIABETES
            </span>

            {% endif %}

            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn">
                        <span>
                            Selesai
                        </span>
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}
